
 .frm
 {
  width: 100%;
  height: 100px;
  margin-top: 80px;
  margin-left: 340px;
  margin-right: 400px;
  
 }
 .header
 {
   background-color: #56baed;
   width: 100%;
   height: 40px;
 }
     .tbl
    {
        margin-top: 20%;
        margin-left: 70px;
        margin-right: 70px;
    }
      .tbl2
    {
      
        margin-left: 70px;
        margin-right: 70px;
    }
    .butn
    {
        
        margin-left: 90%;
        margin-top: 2%;
    }
    .popup
    {
        display: none;
        border-radius: 2px;
        border: solid;
        border-color: black;
    }
    .form
    {
       width: 100%;
       height: 90px;
       margin-top: 2%;
       margin-left: 120px;
    }
